.dialog {
    position: relative;
    z-index: 10;
}

.transition {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.49);
}

.dialog__container {
    position: fixed;
    inset: 0;
    overflow-y: auto;
}

.dialog__cart {
    display: flex;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4px;
}

.dialog__panel {
    position: relative;
    width: 600px;
    height: 600px;
    transform: inherit;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.dialog__title {
    position: absolute;
    top: 0;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    padding: 14px 0px;
    border-bottom: 1px solid rgb(171, 171, 171);
}

.dialog__button {
    width: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog__button label {
    cursor: pointer;
    color: white;
    background-color: rgb(49, 155, 249);
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 10px;
}

.dialog__button .file__input {
    display: none
}

.dialog__image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image__input {
    width: 100%;
    height: 300px;
}

.dialog__image {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.caption__input {
    width: 100%;
    padding: 15px 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(213, 213, 213);
    border-radius: 7px;
}

.caption__input:focus {
    border: 1px solid rgb(155, 155, 155);
}

.upload__buttons {
    display: flex;
    gap: 10px;
}

.upload__buttons button {
    color: white;
    background-color: rgb(49, 155, 249);
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 10px;
}